#txtFileUpload{
  width: 100%;
}

.table-estadisticas i:hover{
  cursor: pointer;
}

.acciones-generar .btn-md{
  padding: 8px !important;
}

.fa-trash, .fa-trash:hover{
  color: #d9534f !important
}

.fa-thumbtack , .fa-thumbtack:hover {
  color: #f0ad4e !important;
}

.generar-numero input{
  height: 100%;
  border-color: #17a2b8;
}

.acciones-generar .btn i{
  min-width: 60px;
}

.acciones-generar #summation{
  position: relative;
  top: -8px;
  margin-right: 5px;
}

#summation{
  width: 25px;
}

